@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #e1e1e1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Muli", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 20px;
}

